/log/*.log
.DS_Store
node_modules
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
*.sql
/docs
stats.json
wp-config-local.php
wp-config-sample.php
node_modules
.sass-cache
.eslintcache
.user.ini
.DS_Store
*.log
.env
/vendor
/.idea
.phpunit.result.cache
/public/dist
/public/cache
/public/wp-content/uploads
/public/wp-content/upgrade
/public/wp-content/themes/*
/public/wp-content/plugins/*
/public/wp-content/mu-plugins/*
/public/wp/
/coverage
